* {
    margin: 0; /*Sätter marginalerna till 0*/
}

body  {font-family: Tahoma, Verdana, sans-serif; } /*teckensnitt, som försöker använda Tahoma först*/

h1 { /*Allmänna regler för h1*/
    font-size: 1.5em;
   
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
  
}
P, footer { /*Allmänna regler för p*/
    font-size: 1em;
    line-height: 150%;
  
}
h2 { /*Allmänna regler för h2*/
    font-size: 1.3em;
    margin-bottom: 2%;
}


/*huvudmeny*/
.headmenu {
  
    font-size: 1.05em;
    font-weight: bold;
    color: blue;
    font-style: italic;
  
    
 list-style-type: none; margin: 0; padding: 0;}


.headmenu > li:hover > ul {display: block;}
.headmenu a {text-decoration: none;}

.liheadmenu {
display: inline-block; position: relative; padding: 8px;
}

.grid-container {    /*Definierar gridden*/ 
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, auto);
     max-width: 1512px;} 

/*nedan följer bland annat griddplacering*/
.position1 {
grid-area: 1/1/2/-1;
margin-left: 2%;
}

.position2{
grid-area: 2/1/3/-1; 
}



.position3{
    grid-area: 3/1/4/10; 
    margin-left: 4%;
    margin-right: 4%;
}


.position10{
    grid-area: 10/1/11/-1; 
    margin-top: 5%;
    margin-left: 2%;
    
}

.position2workP {
    grid-area: 2/1/3/-1; 

}

.position3workP{
    grid-area: 3/1/4/10; 
    margin-left: 4%;
    margin-right: 4%;
}

.position2Pict {

    grid-area: 2/1/3/-1; 
    margin:auto;
    margin-top: 8%;
    margin-bottom: 5%;
}

.position3Pict {

    grid-area: 3/1/4/6; 
    margin:auto;



}

.position4Pict {

    grid-area: 3/6/4/11; 
    margin:auto;


}

.position5Pict {

    grid-area: 3/11/4/-1; 
    margin:auto;
  


}

.position6Pict {

    grid-area: 4/1/5/6; 
    margin:auto;
    margin-top: 5%;



}

.position7Pict {

    grid-area: 4/6/5/11; 
    margin:auto;
    margin-top: 5%;

}




@media only screen and (max-width: 800px) { /*media queries för max-bredd 800 px på skärmen*/

    .position3{
        grid-area: 3/1/4/-1; 
        margin-left: 2%;
        margin-right: 2%;
    }

    
.position3workP{
    grid-area: 3/1/4/-1; 
    margin-left: 2%;
    margin-right: 2%;
}


}


@media only screen and (max-width: 1000px) {  /*media queries för max-bredd 1000 px på skärmen*/

    .position3Pict {

        grid-area: 3/1/4/9; 
        margin-top: 5%;
    
    }
    
    .position4Pict {
    
        grid-area: 3/9/4/-1; 
        margin-top: 5%;
    
    }
    
    .position5Pict {
    
        grid-area: 4/1/5/9; 
        margin-top: 5%;
    
    }
    
    .position6Pict {
    
        grid-area: 4/9/5/-1; 
        margin-top: 5%;
    
    }
    
    .position7Pict {
    
        grid-area: 5/1/6/9; 
        margin-top: 5%;
    
    }



}

@media only screen and (max-width: 700px) {  /*media queries för max-bredd 700 px på skärmen*/

    .position3Pict {

        grid-area: 3/1/4/-1;
    
    
    }
    
    .position4Pict {
    
        grid-area: 4/1/5/-1; 
        
    
    }
    
    .position5Pict {
    
        grid-area: 5/1/6/-1; 
        
    
    }
    
    .position6Pict {
    
        grid-area: 6/1/7/-1; 
      
    
    }
    
    .position7Pict {
    
        grid-area: 8/1/9/-1; 
      
    
    }



}
   
    








